@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri|Slabo+27px&subset=latin,bengali);
body{font-family: 'Slabo 27px', serif;font-size:14px;line-height:22px;color:#000;}
.file_upload{
    width: 1100px;
    margin: 2px auto;
    border: 2px solid;
    padding: 26px;
}
.notice_up{
font-size: 22px;
    float: left;
     margin: 8px 19px 0 0;


}
.vbtn{
background-color: rgb(57, 114, 181);
border-radius: 3px;
padding: 4px 13px;
text-align: center;
color: rgb(255, 255, 255);
}
.vbtn:hover{
    background-color:#0C80F3;
}
.notice_file_select{
    float: left;
    font-size: 16px;
    margin: 8px 0 0 0;
    width: 249px;

}

.notice_select{
        width: 228px;
    height: 35px;
    margin: 0 10px 0 0;
    padding: 0 0 0 12;
    border-radius: 3px;
    border: 2px solid #80B4EF;
    font-size: 16px;
    float: left;
}
.notice_select:hover{
	    width: 228px;
    height: 35px;
    margin: 0 10px 0 0;
    padding: 0 0 0 12;
    border-radius: 3px;
    border: 2px solid #0C80F3;
    font-size: 16px;
    float: left;
}

.up_submit{

}

.up_submit{
background: url('../image/arrow1.PNG');
    background-repeat: no-repeat;
    border: 0;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -999999999px;
    margin: 0 0 0 0;

}

.up_submit:hover{
background: url('../image/arrow.PNG');
    background-repeat: no-repeat;
    border: 0;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -999999999px;
    margin: 0 0 0 0;
}


.admission_aplication{
	width: 1100px;
margin: 2px auto;
border: 2px solid;
max-height: 900px;
overflow: scroll;
overflow-x: hidden;
}
.admission_aplication_body{}
.admission_aplication_table{
	    text-align: center;
    width: 1076px;

}
.admission_pic{
	width: 50px;
height: 50px;
}
.trans{
	width: 100px;
height: 29px;
padding: 0px 5px 0px 5px;
}
.roll{
	width: 80px;
height: 29px;
padding: 0px 5px 0px 5px;
}
.field1{ width: 40px;
    background: #ebebeb;
    height: 35px;
}
.field0{width: 40px;background: #ebebeb;}
.field3{width: 130px;background: #ebebeb;}
.field4{width: 130px;background: #ebebeb;}
.field5{width: 60px;background: #ebebeb;}
.field6{width: 100px;background: #ebebeb;}
.field7{width: 100px;background: #ebebeb;}
.field8{width: 95px;background: #ebebeb;}
.field9{width: 95px;background: #ebebeb;}
.field10{background: #ebebeb;width: 110px;}
.field2{background: #ebebeb;}
.field12{background: #ebebeb;}
.field11{width: 62;background: #ebebeb;}
.admission_update{background: #7786C1;
padding: 5 05 7 6;
border-radius: 5px;
color: #fff;}
.admission_update:hover{background: #1365A0;}
.admisstion_search_name{
	height: 35px;
border: 2px solid #0081F3;
border-radius: 4px;
width: 200px;
}
.admisstion_search_by_cat{
	height: 35px;
border: 2px solid #0081F3;
border-radius: 4px;
width: 200px;
}
.admisstion_search_by{}
.admisstion_search{
	height: 50px;
position: relative;
float: right;
width: 460px;
margin: 10px 0 0 237px;
}
.admisstion_search_submit{
background: url('../image/search.png');
background-repeat: no-repeat;
border: 0;
display: block;
width: 40px;
height: 40px;
position: absolute;
left: 408px;
text-indent: -999999999999px;
top: -2px;

}

.delete_icon{
	    width: 30px;
    margin: 3px 0 7px 0;

}
